<div class="d-flex flex-column justify-content-center w-100">
  <% if notice %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= notice.html_safe %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="container">
    <%= render "form", url: @url %>
    <br>
  </div>
</div>

<%= render "urls/partials/features" %>

<%= render "urls/partials/modals" %>