<h1>Hey Maysen, you received a new contact message from your URL shortener website</h1>
<hr>
<br>
<h2>From: <%= @user_name %></h2>
<br>
<h3>Email: <%= @user_email %></h3>
<br>
<h3>Message:</h3>
<hr>
<p>
  <%= @message %>
<hr>
</p>